#! /usr/bin/env bash

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc","hbcoin":"btcusdt","mycoin":"BTC/USDT","strategy":"[{\"name\":\"follow\",\"params\":\"{\\\"divided\\\":false,\\\"pricescale\\\":1,\\\"qtyscale\\\":0.01}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":0.01,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":50}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.2,\\\"low_scale\\\":0.2}\"}]"}' http://127.0.0.1:32800/addsta

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc","hbcoin":"ethusdt","mycoin":"ETH/USDT","strategy":"[{\"name\":\"follow\",\"params\":\"{\\\"divided\\\": false,\\\"pricescale\\\":1,\\\"qtyscale\\\":0.01}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":0.01,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":50}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.2,\\\"low_scale\\\":0.2}\"}]"}' http://127.0.0.1:32800/addsta

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc","hbcoin":"ethbtc","mycoin":"ETH/BTC","strategy":"[{\"name\":\"follow\",\"params\":\"{\\\"divided\\\":false,\\\"pricescale\\\":1,\\\"qtyscale\\\":0.01}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":0.01,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":50}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.2,\\\"low_scale\\\":0.2}\"}]"}' http://127.0.0.1:32800/addsta

#curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc","hbcoin":"btcusdt","mycoin":"NBTC/BTC","strategy":"[{\"name\":\"follow\",\"params\":\"{\\\"divided\\\":false,\\\"pricescale\\\":0.00000000431,\\\"qtyscale\\\":2.132}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":50.32,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":50}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.2,\\\"low_scale\\\":0.2}\"}]"}' http://127.0.0.1:32800/addsta

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc","hbcoin":"btcusdt","mycoin":"NBTC/ETH","strategy":"[{\"name\":\"fixedpq\",\"params\":\"{\\\"price_std\\\":0.002715,\\\"price_scale\\\":0.001,\\\"qty_std\\\":200,\\\"qty_scale\\\":0.1,\\\"fallback_speed\\\":25.8}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":100,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":50}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.2,\\\"low_scale\\\":0.2}\"}]"}' http://127.0.0.1:32800/addsta

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc_edtp","hbcoin":"btcusdt","mycoin":"EDTP/USDT","strategy":"[{\"name\":\"fixedpq\",\"params\":\"{\\\"price_std\\\": 0.165,\\\"price_scale\\\":0.00004,\\\"qty_std\\\":15,\\\"qty_scale\\\":0.05,\\\"fallback_speed\\\":32.8}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":10,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":50}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.2,\\\"low_scale\\\":0.2}\"}]"}' http://127.0.0.1:32800/addsta

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc_hkt","hbcoin":"usdthkd","mycoin":"HKT/USDT","strategy":"[{\"name\":\"follow\",\"params\":\"{\\\"divided\\\":true,\\\"pricescale\\\":1,\\\"qtyscale\\\":1,\\\"change_kprice\\\":0.0000002,\\\"change_kqty\\\":0.005}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":100,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":40}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.000001,\\\"low_scale\\\":0.0000001}\"}]"}' http://127.0.0.1:32800/addsta

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc_smsc","hbcoin":"btcusdt","mycoin":"SMSC/USDT","strategy":"[{\"name\":\"fixedpq\",\"params\":\"{\\\"price_std\\\": 0.056,\\\"price_scale\\\":0.00052,\\\"qty_std\\\":200,\\\"qty_scale\\\":0.2,\\\"fallback_speed\\\":3}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":20,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":50}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.01,\\\"low_scale\\\":0.01}\"}]"}' http://127.0.0.1:32800/addsta
