#! /usr/bin/env bash

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc","hbcoin":"btcusdt","mycoin":"BTC/USDT","strategy":"[{\"name\":\"follow\",\"params\":\"{\\\"divided\\\":false,\\\"pricescale\\\":1,\\\"qtyscale\\\":0.01}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":0.01,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":50}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.2,\\\"low_scale\\\":0.2}\"}]"}' http://127.0.0.1:32800/addsta

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc","hbcoin":"ethusdt","mycoin":"ETH/USDT","strategy":"[{\"name\":\"follow\",\"params\":\"{\\\"divided\\\": false,\\\"pricescale\\\":1,\\\"qtyscale\\\":0.01}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":0.01,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":50}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.2,\\\"low_scale\\\":0.2}\"}]"}' http://127.0.0.1:32800/addsta

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc","hbcoin":"ethbtc","mycoin":"ETH/BTC","strategy":"[{\"name\":\"follow\",\"params\":\"{\\\"divided\\\":false,\\\"pricescale\\\":1,\\\"qtyscale\\\":0.01}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":0.01,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":50}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.2,\\\"low_scale\\\":0.2}\"}]"}' http://127.0.0.1:32800/addsta

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc","hbcoin":"btcusdt","mycoin":"NBTC/BTC","strategy":"[{\"name\":\"follow\",\"params\":\"{\\\"divided\\\":false,\\\"pricescale\\\":0.00000000431,\\\"qtyscale\\\":1.832}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":36.32,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":50,\\\"defense_switch\\\":true}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.2,\\\"low_scale\\\":0.2}\"}]"}' http://127.0.0.1:32800/addsta

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc","hbcoin":"ethusdt","mycoin":"NBTC/ETH","strategy":"[{\"name\":\"follow\",\"params\":\"{\\\"divided\\\":false,\\\"pricescale\\\":0.000013951,\\\"qtyscale\\\":0.1332}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":160.2,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":50,\\\"defense_switch\\\":true}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.2,\\\"low_scale\\\":0.2}\"}]"}' http://127.0.0.1:32800/addsta

curl -H "Content-Type:application/json" -X POST --data '{"client":"nbtc_edtp","hbcoin":"btcusdt","mycoin":"EDTP/USDT","strategy":"[{\"name\":\"fixedpq\",\"params\":\"{\\\"price_std\\\": 0.163,\\\"price_scale\\\":0.0001,\\\"qty_std\\\":15,\\\"qty_scale\\\":0.05,\\\"fallback_speed\\\":2.8}\"}, {\"name\":\"filldepth\",\"params\":\"{\\\"scale\\\":1,\\\"refuse_threshold\\\":0,\\\"fillcount\\\":8}\"},{\"name\":\"cancel\",\"params\":\"{\\\"high_scale\\\":0.2,\\\"low_scale\\\":0.2}\"}]"}' http://127.0.0.1:32800/addsta
